@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,500,700);

html, body {
    font-family: 'Open-Sans', sans-serif;
    text-align: center;
    background-color: lightblue;
}

h1 {
    font-size: 40px;
}

#outside-form {
    background-color: white;
    margin: 50px;
    padding: 50px;
    border-radius: 50px;
}

.labels {
    display: inline-block;
    text-align: right;
    margin-top: 15px;
    width: 40%;
    padding: 6px;
}