@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,500,700);

html, body {
    font-family: 'Open-Sans', sans-serif;
    text-align: center;
    background-color: lightblue;
}

h1 {
    font-size: 40px;
}

#outside-form {
    background-color: white;
    margin: 50px;
    padding: 50px;
    border-radius: 50px;
}

.labels {
    display: inline-block;
    text-align: right;
    margin-top: 15px;
    width: 40%;
    padding: 6px;
}

.tab {
    display: inline-block;
    text-align: left;
    width: 55%;
    vertical-align: middle;
}

#dropdown {
    height: 30px;
    width: 130px;
    padding: 6px;
    margin: 3px;
    margin-top: -3px;
}

.radio, .checkbox {
    position: relative;
    left: -30px;
    top: 15px;
    margin-top: -5px;
    display: block;
}

#comments {
    height: 50px;
    width: 220px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

#submit {
    background-color: lightblue;
    border-radius: 15%;
    font-size: 20px;
    height: 45px;
    width: 100px;
    border: 0px;
}

@media screen and (max-width: 833px) {
    #comments {
        width: 80%;
    }
}

@media screen and (max-width: 520px) {
    .labels {
        width: 100%;
    }
    
    .tab {
        width: 80%;
        float: left;
    }
    
    #comments {
        width: 100%;
    }
}